.f { display: flex; }

.aic { align-items: center; }
.aifs { align-items: flex-start; }
.aife { align-items: flex-end; }
.ais { align-items: stretch; }

.jcc { justify-content: center; }
.jcfs { justify-content: flex-start; }
.jcfe { justify-content: flex-end; }
.jcs { justify-content: stretch; }
.jcsa { justify-content: space-around; }
.jcsb { justify-content: space-between; }
.jcse { justify-content: space-evenly; }
