// @gist https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9

$sides: (top, bottom, left, right);

$spaceamounts: (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 36, 42, 48, 72, 108);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.b-25 { flex-basis: 25%; }
.b-50 { flex-basis: 50%; }
.b-75 { flex-basis: 75%; }

.w-100 { width: 100%; }
.w-auto { width: auto; }

.h-100 { height: 100%; }
.h-auto { height: auto; }
