.divider {
  border-top: 2px solid gray;
  height: 0px;
  margin: 56px 0;
  position: relative;
  width: 100%;

  &__text {
    background-color: #FFF;
    font-size: 26px;
    font-weight: bold;
    left: 50%;
    padding: 12px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}