@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

a {
  // Some of the properties comes from hackernoon
  background: linear-gradient(transparent 0%, transparent 50%, rgba(0, 255, 0, 0.35) 50%, rgba(0, 255, 0, 0.35) 100%);
  color: $color-black;
  padding: 2px;

  &:hover {
    background: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgb(0, 255, 0) calc(50% - 9px), rgb(0, 255, 0) 100%);
    background-position: 0px 100%;
  }

  &.bg--none {
    &,
    &:hover {
      background: none;
    }
  }
}
